# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://chyblog.cn
date_format: "ordinal"
title: 一切随猿
subtitle: "同是寒窗苦读 怎愿甘拜下风"
description: "陈宏业的个人网站，一个技术小白不定时分享Windows操作、黑苹果安装和使用、Python、Android、Electron-Vue、Vue、Uni-app和小程序开发的教程或者资源的网站，免费提供一切在教程中出现的资源，也不定时提供一些可玩性比较高的软件"
keywords: 陈宏业, 一切随猿, CHY, Python, Android, Vue, UniApp, Uni-App, 自媒体, chyblog
timezone: Asia/Guangzhou
encoding: "utf-8"
side_bar_repo_limit: 5
repository: sky-chy/chyblog
# 对 css 和 js 资源的 cdn 加速配置
cdn:
    jsdelivr:
        enabled: true
# 组件配置
components:
    # 分享
    share:
        enabled: false
    # 不蒜子访问统计
    busuanzi:
        enabled: true
        start_date: 2021-01-01
# 压缩页面内容
compress_html:
  clippings: all
  comments: ["<!--", "-->"]
# 文章字数统计
word_count:
    enabled: true
# 代码高亮风格，支持的 theme 列表见 https://github.com/mzlogin/rouge-themes
highlight_theme: molokai

# ---------------- #
#      Author      #
# ---------------- #
author: CHY
organization: 
organization_url: 
github_username: sky-chy
location: Guangzhou, China
email: 3166099078@qq.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /archives/
    label: 归档

#   -
#     href: /open-source/
#     label: 开源

  # -
  #   href: /wiki/
  #   label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于
  

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
# kramdown语法 ：https://kramdown.gettalong.org/syntax.html
markdown: kramdown
kramdown:
    input: GFM
    
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
plugins:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: 
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: mzlogin
    repo: blog-comments
    oauth:
        client_id: d2e1cbbd298958076462
        client_secret: b42a4178e5fd4a7cf63189ef4b1453b05c375709
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: sky-chy # GitHub用户名字
    repo: chyblog # 刚才建立仓库的名字
    clientID: c31e7ecdb4d2189be69d
    clientSecret:  503c09fb55ecf7b63b9d1bae1837d162b6503354
    proxy: https://shielded-brushlands-08810.herokuapp.com/https://github.com/login/oauth/access_token
    
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#      Google      #
# ---------------- #
google:
    analytics_id: UA-80669434-1
    adsense:
        footer: false
        sidebar: false 
        content_header: false
        content_footer: false
